@function psdpx($px){
    @return #{$px/20}rem;
}
$localhost:"http://121.196.103.86:888/";

.story{
    width: 100%;
    height: 270vh;
    padding: psdpx(100);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    .title{
        text-align: center;
        line-height: psdpx(50);
        font-size: psdpx(50);
        .subTitle{
            font-size: psdpx(20);
            color: gray;
        }
    }
    .part{
        display: flex;
        justify-content: space-around;
        margin-bottom: psdpx(30);
        opacity: 0;
        transition: all 2s ease;
        div{
            width: psdpx(50);
            height: psdpx(50);
            border-radius: 50%;
            margin: psdpx(10) psdpx(100);
        }
        p{
            font-size: psdpx(30);
        }
    }
    .part1 div{
        background: url(../bcg/heart1.jpeg) no-repeat center/contain;
    }
    .part2 div{
        background: url(../bcg/heart2.jpeg) no-repeat center/cover;

    }
    .part3 div{
        background: url(../bcg/heart3.jpeg) no-repeat center/cover;

    }
    .button button{
        width: psdpx(100);
        height: psdpx(40);
        font-size: psdpx(30);
        color:darkgoldenrod;
        border-radius: psdpx(10);
    }
}